body {
    background-color: #1687a7; 
    font-family: Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #e4d1d3; 
  }
  
  .container {
    margin: 50px auto;
    max-width: 600px;
  }

  .hidden {
    display: none;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #e4d1d3;
  }

  select {
    padding: 5px;
    margin: 0px 10px 10px 10px;
    font-size: 16px;
    border: 1px solid  #dd0a35;
    border-radius: 10px;
  }

  .language-selector-label {
    padding-top: 5px;
  }
  .poem-form {
    padding: 35px;
    background-color: #e4d1d3;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    margin: 30px 0px;
  }

  form {
    display: flex;
  }

  .keyword-input {
    padding: 16px;
    border: 1px solid  #dd0a35; 
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
  }
  
  .submit-button {
    margin-left: 10px;
    background: #dd0a35; 
    color: white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
  }
  
  .poem {
    font-size: 16px;
    background-color: #e4d1d3; 
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #dd0a35; 
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  }
  
  footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
    color: #e4d1d3; 
  }